html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html.is-ios {
    position: fixed;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.whole {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    /*max-width: 1680px;*/
    height: 100%;
}

.page-chats {
    display: flex;
    /*max-width: 1682px!important;*/
}

.page-chats #main-columns {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.tabs-container {
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#column-center {
    width: 100%;
    position: relative;
    flex: 3;
}

.tabs-container .tabs-tab {
    display: none;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
    overflow: hidden;
}

.tabs-container {
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.chats-container {
    height: 100%;
}

.tabs-container .tabs-tab.active {
    display: flex;
}

.tabs-container .tabs-tab {
    display: none;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: var(--background-color);
    overflow: hidden;
}

.chat {
    display: flex!important;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.bubbles {
    --translateY: 0;
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
    transform: translate3d(0,var(--translateY),0);
    /*transition: transform var(--transition-standard-out);*/
}

.scrollable.scrollable-y {
    overflow-y: auto;
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.scrollable {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100%;
    position: absolute;
    inset: 0;
    -webkit-overflow-scrolling: touch;
}

.bubbles-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    justify-content: flex-end;
    padding: 0 .8125rem;
    max-width: 728px;
    /*transition: transform var(--transition-standard-out);*/
    transform: translateY(0);
}

.bubbles-inner:after {
    content: " ";
    height: .125rem;
}

.bubbles>.scrollable {
    height: auto;
    display: block;
}

.bubbles-date-group {
    position: relative;
}

.chat-input {
    --translateY: 0;
    --padding-bottom: .5rem;
    --bottom: var(--padding-bottom);
    display: flex;
    width: 100%;
    max-width: 100%;
    padding-top: .25rem;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
    /*transition: transform var(--transition-standard-out);*/
    transform: translate3d(0,var(--translateY),0);
    z-index: 2;
}

.chat-input-container {
    --padding-horizontal: .5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 728px;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--padding-horizontal);
    flex: 0 0 auto;
    position: relative;
    padding-bottom: .5rem;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    min-height: 3.5rem;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

.topbar {
    --topbar-height: 3.5rem;
    --pinned-floating-audio-height: 0px;
    --pinned-floating-message-height: 0px;
    --pinned-floating-height: calc(var(--pinned-floating-audio-height) + var(--pinned-floating-message-height));
    --pinned-audio-height: 52px;
    --pinned-message-height: 52px;
    width: 100%;
    z-index: 2;
    min-height: var(--topbar-height)!important;
    max-height: var(--topbar-height)!important;
    margin-bottom: var(--pinned-floating-height);
    position: relative;
    cursor: pointer!important;
}

.topbar:before {
    content: " ";
    position: absolute;
    height: calc(var(--topbar-height) + var(--pinned-floating-height));
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 5px -1px #00000036;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    html, body {
        height: calc(var(--vh, 1vh) * 100);
    }
}

@media only screen and (max-width: 600px) {
    .sidebar-header {
        padding-inline: .5rem;
    }
}

@media only screen and (max-height: 569px) {
    .chat-input {
        --padding-bottom: .5rem;
    }
}

@media only screen and (max-width: 600px) {
    .bubbles-inner {
        padding: 0 .5rem;
    }
}

@media only screen and (max-width: 600px) {
    .page-chats .main-column {
        width: 100%;
        display: flex!important;
        z-index: 1;
    }
}