.message {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}

.messageWrapper {
    display: flex;
}

.messageContent {
    position: relative;
    background-color: #ffffff;
    border: 0.0625rem solid #dee2e6;
    padding: 6px 45px 6px 10px;
    border-radius: 12px 12px 12px 6px;
    font-size: var(--mantine-font-size-nm);
    word-break: break-word;
    white-space: pre-wrap;
}

.markdownBody>*:first-child {
    margin-top: 0!important;
}
.markdownBody>*:last-child {
    margin-bottom: 0!important;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    font-size: 0.775rem;
    color: rgb(0 0 0 / 55%);
}

.messageContentYou {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 12px;
    background-color: #e6fcf5;
    border: 0.0625rem solid #e6fcf5;
}

.you {
    flex-Direction: row-reverse;
}

.timeBox {
    display: flex;
}

.timeMarker {
    margin: 5px auto;
    font-size: var(--mantine-font-size-md);
    color: rgb(134, 142, 150);
}