.bubble {
    display: block;
    width: 100%;
}

.bubbleWrapper {
    display: flex;
}

.bubbleContent {
    display: flex;
    position: relative;
    background-color: #ffffff;
    border: 0.0625rem solid #dee2e6;
    padding: 6px 45px 6px 10px;
    border-radius: 12px 12px 12px 6px;
    font-size: var(--mantine-font-size-nm);
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    font-size: 0.775rem;
    color: rgb(0 0 0 / 55%);
}

.bubbleContentYou {
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 12px !important;
    background-color: #e6fcf5;
    border: 0.0625rem solid #e6fcf5;
}

.you {
    flex-Direction: row-reverse;
}

.timeBox {
    display: flex;
}

.timeMarker {
    margin: 5px auto;
    font-size: var(--mantine-font-size-md);
    color: rgb(134, 142, 150);
}