.headerBox {
    display: flex;
    align-Items: center;
    height: 100%;
}

.text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 16px;
}

.header {
    @media (min-width: $mantine-breakpoint-sm) {
        display: none;
    }
}