.navbar {
    height: rem(700px);
    width: rem(300px);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
    overflow: auto;
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.header:before {
    content: " ";
    position: absolute;
    height: 62px;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
}

.navbarFooter {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 45px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        .linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-active] {

        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);

            .linkIcon {
                color: var(--mantine-color-blue-light-color);
            }
        }
    }
}

.linkMobile {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    position: relative;
}

.linkSpan {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    font-size: var(--mantine-font-size-sm);
    background: transparent;
    border: none;
    line-height: 25px;
    padding: 0;
    margin: 0 72px 0 12px;
}

.linkSpan:focus { 
    background: transparent;
    border: none;
    outline-width: 0;
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    min-width: rem(25px);
    height: rem(25px);
}

.linkActive {
    background-Color: var(--mantine-color-gray-0);
    color: #000000;
    cursor: default;
}

.buttonBox {
    display: flex;
    position: absolute;
    right: 0;
    margin-Right: 12px;
}

.main {
    height: 100% !important;
    min-height: 100% !important;
    padding-bottom: 0px !important;
    padding-top: 3.75rem !important;
    @media (min-width: $mantine-breakpoint-sm) {
        padding-top: 0px !important;
    }
}

.root {
    height: 100% !important;
    min-height: 100% !important;
}