.aside {
    height: rem(700px);
    width: rem(300px);
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbar {
    height: rem(700px);
    width: rem(300px);
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
    overflow: auto;
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.navbarFooter {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
    margin-top: 16px;
    padding: 0 var(--mantine-spacing-sm);
}

.settingsFooter {
    margin-top: 16px;
    padding: 0 21px;
}

.linkStructure {
    min-height: 45px;
    font-size: var(--mantine-font-size-sm) !important;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    border-radius: var(--mantine-radius-md);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 45px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
}

.linkMobile {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    position: relative;
}

.linkSpan {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    font-size: var(--mantine-font-size-sm);
    background: transparent;
    border: none;
    line-height: 25px;
    padding: 0;
    margin-right: 72px;
}

.linkSpan:focus { 
    background: transparent;
    border: none;
    outline-width: 0;
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    min-width: rem(25px);
    height: rem(25px);
}

.linkActive {
    background-Color: var(--mantine-color-gray-0);
    color: #000000;
    cursor: default;
}

.buttonBox {
    display: flex;
    margin-left: auto;
}

.main {
    height: 100% !important;
    min-height: 100% !important;
    padding-bottom: 0px !important;
    padding-top: 57px !important;
    @media (min-width: $mantine-breakpoint-sm) {
        padding-top: 0px !important;
    }
}

.root {
    height: 100% !important;
    min-height: 100% !important;
}

.chatLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 45px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    margin: 0 var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
}

.chatLinkMobile {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 45px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    margin: 0 var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.chatLinkActive {
    background-Color: var(--mantine-color-gray-0);
    color: #000000;
    cursor: default;
}

.chatSpan {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    line-height: 25px !important;
    font-size: var(--mantine-font-size-sm);
    background: transparent;
    border: none;
    line-height: 25px;
    padding: 0;
}

.chatInputSpan {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
    font-size: var(--mantine-font-size-sm);
    background: transparent;
    border: none;
    line-height: 25px;
    padding: 0;
}

.chatInputSpan:focus { 
    background: transparent;
    border: none;
    outline-width: 0;
}

.chatSpanBox {
    display: flex;
}
.chatTimeBox {
    margin-left: auto !important;
    line-height: 25px !important;
}

.user {
    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
}

.user {
    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
    }
}

.settingsBox {
    margin: 0 21px;
    @media (max-width: $mantine-breakpoint-sm) {
        margin: 0 12px;
    }
}